@use 'base/variables' as v;

.header{
    position: relative;
    display: flex;
    background-color: v.$negro;
    height: 60rem;
    overflow: hidden;
    h1{
        font-size: xxx-large;
        margin: auto;
    }
    p{
        font-size: large;
        margin: 2rem auto;
        font-weight: bolder;
        color: v.$blanco;
    }
    @media (max-width:768px){
        h1{

        }
        p{
            font-size: 1rem;
        }
    }
}

